<div ng-include="'./components/includes/_header.html'"></div>
<section class="register-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-3 login-sec">
        <h2 class="text-center">Modificación de Tareas</h2>



        <form class="login-form" ng-submit="vm.editTarea(vm.editarTarea)">

          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" ng-model="vm.editarTarea.nombre">
          </div>

          <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" ng-model="vm.editarTarea.descripcion">
          </div>

          <div class="form-group">
            <label>Fecha de Asignación</label>
            <input type="date" class="form-control" ng-model="vm.editarTarea.fechaAsignacion">
          </div>

          <select ng-model="vm.editarTarea.prioridad">
            <option value="">Seleccione la proridad de la tarea</option>
            <option value="Alta">Alta</option>
            <option value="Media">Media</option>
            <option value="Baja">Baja</option>
          </select>

          <select ng-model="vm.editarTarea.estadoCompleto">
            <option value="">Seleccione el estado de la tarea</option>
            <option value="Realizada">Realizada</option>
            <option value="En Curso">En Curso</option>
            <option value="Pendiente">Pendiente</option>
          </select>

          <div class="form-group">
            <label>Costo en $</label>
            <input type="text" class="form-control" ng-model="vm.editarTarea.costo">
          </div>

          <select ng-model="vm.editarTarea.proyecto">
            <option value="">Seleccione el proyecto</option>
            <option value="Sitio web para Tosty">Sitio web para Tosty</option>
            <option value="Aplicación web para Necrohana">Aplicación web para Necrohana</option>
            <option value="Lanzamiento de Sailor Moon S">Lanzamiento de Sailor Moon S</option>
            <option value="Sitio web para la película Chancleta">Sitio web para la película “Chancleta”</option>
          </select>

          <div class="form-check">
            <button type="submit" class="btn btn-login">Editar Tarea</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>